[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[packages]
scrapy = "*"
pypiwin32 = {version = "*", sys_platform = "== 'win32'"}

[requires]
python_version = "3.7"

[scripts]
lint = "flake8 --statistics"
tests = "pytest -v --cov LocStat/tests"
crawl = "scrapy crawl github_spider"
project = "python LocStat/main.py"
